<?xml version="1.0"?>
<config>
  <modules>
    <Mento_Social>
      <version>0.1.0</version>
    </Mento_Social>
  </modules>
  <global>
	<models>
            <catalog>
                <rewrite>
                    <product_api>Mento_Social_Model_Product_Api</product_api>
                </rewrite>
            </catalog>
        </models>
    <helpers>
      <social>
        <class>Mento_Social_Helper</class>
      </social>
    </helpers>
	<blocks>
	  <social>
		<class>Mento_Social_Block</class>
	  </social>
	</blocks>
	<resources>
	  <social_setup>
		<setup>
		  <module>Mento_Social</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </social_setup>
	  <social_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </social_write>
	  <social_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </social_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <social>
	    <use>admin</use>
		<args>
		  <module>Mento_Social</module>
		  <frontName>admin_mento</frontName>
		</args>
	  </social>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <social module="social">
		<title>Mento</title>
		<sort_order>100</sort_order>
		<children>
		  <promotion module="social">
			<title>Promote Products</title>
			<sort_order>0</sort_order>
			<action>admin_mento/adminhtml_promotion</action>
		  </promotion>
		</children>
	  </social>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<social translate="title" module="social">
			  <title>Mento</title>
			  <sort_order>1000</sort_order>
			  <children>
		  		<promotion translate="title">
					<title>Mento</title>
		  		</promotion>
			  </children>
			</social>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<social>
		  <file>mento.xml</file>
		</social>
	  </updates>
	</layout>
  </adminhtml>
</config> 